<section class="facilities">
  <h1>Facilities We Offer</h1>
  <p>Belongs to Osmania University,Ece Department</p>
  <div class="row">
    <div class="col">
      <img src="../assets/library.png" />
      <h3>World Class Library</h3>
      <p>Belongs to Osmania University,Ece Department</p>
    </div>
    <div class="col">
      <img src="../assets/basketball.png" />
      <h3>Largest Play Ground</h3>
      <p>Belongs to Osmania University,Ece Department</p>
    </div>
    <div class="col">
      <img src="../assets/cafeteria.png" />
      <h3>Tasty and Healthy Food</h3>
      <p>Belongs to Osmania University,Ece Department</p>
    </div>
  </div>
</section>
