<section class="course">
  <h1>Courses We Offer</h1>
  <p>Belongs to Osmania University,Ece Department</p>
  <div class="row">
    <div class="col">
      <h3>Intermediate</h3>
      <p>
        After independence and the accession of Hyderabad State in 1948, the
        university fell under the purview of the state government
      </p>
    </div>
    <div class="col">
      <h3>Degree</h3>
      <p>
        After independence and the accession of Hyderabad State in 1948, the
        university fell under the purview of the state government
      </p>
    </div>
    <div class="col">
      <h3>postGraduate</h3>
      <p>
        After independence and the accession of Hyderabad State in 1948, the
        university fell under the purview of the state government
      </p>
    </div>
  </div>
</section>
