.course{
    width: 80%;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    
}
.course h1{
    font-size: 36px;
    font-weight: 600;
}
.course p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;

}
.row{
    margin-top: 4%;
    display: flex;
    justify-content: space-between;

}
.col{
    flex-basis: 30%;
    background-color: #fff3f3;
    border-radius: 15px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.4s;
}
.h3{
    font-weight: 600;
    margin: 10px 0;
    text-align: center;

}
.col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
}
@media screen and (max-width:700px){
    .row{
        flex-direction: column;
    }
    
}