<section class="campus">
  <h1>Campus We Offer</h1>
  <p>Belongs to Osmania University,Ece Department</p>
  <div class="row">
    <div class="col">
      <img src="../assets/london.png" />
      <div class="title">
        <h3>LONDON</h3>
      </div>
    </div>
    <div class="col">
      <img src="../assets/washington.png" />
      <div class="title">
        <h3>WASHINGTON</h3>
      </div>
    </div>
    <div class="col">
      <img src="../assets/newyork.png" />
      <div class="title">
        <h3>NEW YORK</h3>
      </div>
    </div>
  </div>
</section>
