<section class="header">
  <nav>
    <a href="#"><img src="../assets/oulogo.jpg" /></a>
    <div class="nav-links" id="navLinks">
      <!-- <i class="bi bi-arrow-down"></i> -->
      <i class="bi bi-arrow-down" onclick="hideMenu()"></i>
      <ul>
        <li><a href="">HOME</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">COURSE</a></li>
        <li><a href="">BLOG</a></li>
        <li><a href="">CONTACT</a></li>
      </ul>
    </div>
    <i class="bi bi-arrow-up" onclick="showMenu()"></i>
  </nav>
  <div class="text-box">
    <h1>Worlds Best University</h1>
    <p>
      OSMANIA UNIVERSITY is one of the top public universities in Hyderabad,
      India<br />
      is ranked #1201-1400 in QS World University Rankings 2024.
    </p>
    <a href="#" class="button-btn"
      >Know More<i class="bi bi-arrow-right"></i
    ></a>
  </div>
</section>
<app-course></app-course>
<app-campus></app-campus>
<app-facilities></app-facilities>
<app-testimonials></app-testimonials>
<app-calltoaction></app-calltoaction>
<app-footer></app-footer>

<!-- write code for togglemenu in anuglar/typescript -->
<!-- <script>
  var navLinks  = document.getElementById("navLinks");
  function showMenu() {
    navLinks.style.right = "0px";
  }
  function hideMenu() {
    navLinks.style.right = "-300px";
  }
</script> -->
<!-- <section class="course">
  <h1>Courses We Offer</h1>
  <p>Belongs to Osmania University,Ece Department</p>
</section> -->
