<section class="testimonials">
  <h1>What our Student says</h1>
  <p>Belongs to Osmania University,Ece Department</p>
  <div class="row">
    <div class="col">
      <img src="../assets/user1.jpg" />
      <div>
        <p>
          Our college provides many placements. Many companies visit our college
          to recruit students.The salary package offered is around 3 LPA - 25
          LPA.
        </p>
        <h3>Editon thomos</h3>
      </div>
    </div>
    <div class="col">
      <img src="../assets/user2.jpg" />
      <div>
        <p>
          60 students are placed in MBA course. As my course started in
          November14, 2022, the internship think Vardhan Bank is top
          recruitingcompany.
        </p>
        <h3>Editon</h3>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
    </div>
  </div>
</section>
